@import "tailwindcss";




.schibsted-grotesk-<uniquifier> {
  font-family: "Schibsted Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


body{
  font-family: 'Schibsted Grotesk', serif;
}